/* ========================================================================= */
/* contato.css - ESTILOS ESPECÍFICOS DA SEÇÃO DE CONTATO                      */
/* ========================================================================= */
@font-face {
    font-family: 'MinhaFonte';
    src: url('fonts/MinhaFonte-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.section-title {
    padding: 1rem;
    font-family: 'DM Serif Display', serif;
    color: #727272;
}

.contato-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    margin-top: 5rem;
    margin: 4rem auto;
}

.form-input,
.form-textarea {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.form-button {
    background: #ccc;
    color: #fff;
    border: none;
    padding: 0.8rem;
    cursor: pointer;
    transition: background 0.3s;
}

.form-button:hover {
    background: #aaa;

}

.whatsapp-link {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 14rem;
}