@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital,wght@0,400;1,400&display=swap');
@font-face {
    font-family: 'MinhaFonte';
    src: url('../fonts/MinhaFonte-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* RESET */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("Fotos/PLanoFundoCreme.jpg");
    padding-top: 60px;
    animation: slide 800s linear infinite;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */
.header {
    background: rgba(15, 23, 42, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-top: 2px solid #999;
    box-sizing: border-box;
}


.logo {
    font-size: 2.5rem;
    color: transparent; /* Torna o texto transparente para o gradiente aparecer */
    -webkit-background-clip: text; /* Mágica para o gradiente aparecer dentro do texto */
    background-clip: text;
    background-image: linear-gradient(90deg, #000000 0%, #bbbbbb 20%, #000000 40%, #bbbbbb 60%, #000000 80%, #bbbbbb 100%);
    background-size: 200% auto; /* Cria um gradiente maior que o texto para poder movimentar */
    animation: flutuar 10s ease-in-out infinite, shimmer 200s linear infinite; /* Adiciona a animação shimmer */
}

@keyframes shimmer {
    to {
        background-position: -200% center;
    }
}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px); /* Movimento de 5px para cima */
    }
}

.nav-link {
    margin-left: 1.5rem;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: color 0.3s;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: #555;
}

/* SEÇÕES (ESTILOS PADRÃO DE TÍTULO/TEXTO) */
.section-title {
    font-size: 3rem;
    color: #000000;
    margin: 3rem auto 3rem;
    border-bottom: 2px solid #ccc;
    display: block;
    width: fit-content;
    font-family: 'DM Serif Display', ;
    font-style: italic;
    text-align: center;
}

.section-text {
    font-size: 1.1rem;
    color: #555;
    text-align: center;
    margin-bottom: 1.5rem;
}

/* ANIMAÇÕES DE ENTRADA E FUNDO */
.animate-slideInLeft {
    animation: slideInLeft 2s ease-out forwards;
}

.animate-slideInRight {
    animation: slideInRight 3.2s ease-out forwards 0.0s;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2000px 0;
    }
}

@media (min-width: 360px) and (max-width: 480px)
and (min-height: 780px) and (max-height: 1040px) {

    .header {
        padding: 0.5rem 1rem;
        height: 56px;
    }

    .logo {
        font-size: 1.2rem;

    }

    .nav {
        gap: 0.75rem;
        padding: 0
    }

    .nav-link {
        font-size: 0.9rem;
    }
}
/* FOOTER */
.footer {
    background: #ccc;
    text-align: center;
    padding: 1rem;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: ;
}

.footer-text {
    color: #fff;
}